@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-libre: var(--font-libre);
  --font-sen: var(--font-sen);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  overflow-x: hidden;
  max-width: 1800px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-libre);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sen);
}

.vertical-timeline-element-content {
  background: transparent !important;
  box-shadow: none !important;
}